<nav style="background: #ed04ba">
    <div class="nav-wrapper">
    		<a href="#" class="brand-logo left"><img style="width:50px" src="leas.png"></a>
     		<a href="#" class="brand-logo">LEAS && SAIIS</a>
    		<a href="#" class="brand-logo right"><img style="width:50px" src="saiis.png"></a>

      
    </div>
  </nav>
{{outlet}}